* {
    color: var(--ukraine-blue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    
    padding: 1rem;
    border: solid 1px pink;
    box-sizing: border-box;
}

* {
    --swedish-blue: #1d5d9b;
    --swedish-yellow: #f4d160;
    --norway-red: #BA0C2F;
    --norway-blue: #00205B;
    --ukraine-blue: #0057B7;
    --ukraine-yellow: #FFDD00;
}

img {
    width:100%;
    max-width: 25rem;
}

h2 {
    background-color: var(--ukraine-yellow);
}