*, *::before, *::after {
    color: var(--ukraine-blue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
    font-weight: normal;

    /* border: solid 1px pink; */
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

* {
    --swedish-blue: #1d5d9b;
    --swedish-yellow: #f4d160;
    --norway-red: #BA0C2F;
    --norway-blue: #00205B;
    --ukraine-blue: #0057B7;
    --ukraine-yellow: #FFDD00;
}

body {
    margin-inline: auto;
    padding: 0px;
    height: 297mm;
    width: 210mm;
}

img {
    width:100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h1 {
    font-size: 30pt;
}

h2 {
    background-color: var(--ukraine-yellow);
    padding-left: 10%;
    height: 3rem;
    font-size: 15pt;
}

h3 {
    font-size: 15pt;
}

.grid-main > * > p {
    font-size: 15px;
}

.grid-body {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto 1fr auto;
    gap: 1rem;
}

.grid-main {
    grid-column: 2 / 6;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.sidebar {
    background-color: var(--ukraine-blue);
}

.sidebar li {
    color: white;
}

.sidebar ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5 {
    padding-left: 1rem;
}

li {
    margin-top: 0.25rem;
}

h4{
    margin-top: 0.5rem;
    font-weight: bold;
}

span {
    font-weight: bold;
    color: white;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 1rem;
}

.grid-section h2 {
    grid-column: 2 / -1;
}

.grid-section h3, .grid-section h4, .grid-section h5, .grid-section ul{
    grid-column: 2 / -1;
}

.grid-section > p {
    grid-column: 1;
}

.name-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.name-box > * {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
}